*{
    padding:0;
    margin:0;
    font-family: "Trebuchet MS";

}
footer{
    background-color: #ec0000;
    color: white;
    height: 100px;
    width: 100%;


}
.container{
    height:450px;
    width:300px;

}
h1{
font-size:2em!important;
}