*{
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS";

}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

header{
    background-color: #ec0000;
    color: white;
    height: 100%;
    width: 100%;

}

button.btn-color{
    background-color: red;
}

footer{
    background-color: #ec0000;
    color: white;
    height: 100px;
    width: 100%;
    position:fixed;
    left: 0;
    bottom: 0;

}