    
<div class="container">
  <form [formGroup]="userForm" (ngSubmit)="submitRegistration()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <div class="form-group">
      <label>Buyer Name</label>
      <input type="text" class="form-control" formControlName="name" required autofocus/>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" formControlName="email" required/>
    </div>
	  <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
  
  <br/>
  
  <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick();"><i class="fa fa-plus"></i> List All</button> 
  
  <br/>
  
  <form (ngSubmit)="serachUser()">
    <input [(ngModel)]="number" type="number" name="number"/>
	<button type="submit" class="btn btn-primary-outline pull-right"><i class="fa fa-plus"></i> Search </button> 
  </form>

</div>
