<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <title>Title</title>
</head>

<body>
<header>
    <h1><img style="width: 250px; height: 75px;" src="./imagens/santander-logo-7.png" alt="logo do Santander"></h1>
</header>
<div class="content">
    
    <form class="form" action="Login">
        <label>Digite seu CPF: </label>
        <input type="number" placeholder="Digite seu CPF" name="id">
        <br>
        <label>Digite sua Senha: </label>
        <input type="password" placeholder="Digite sua Senha" name="password">
        <br>
        <button>Login</button>
    </form>
</div>
<footer>

</footer>

</body>
</html>