<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Novo de Cartão</title>

    <link rel="stylesheet" href="css/styleUser.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
      $(document).ready(function(){
        $('select').formSelect();
      });

      $(document).ready(function(){
        $('.datepicker').datepicker();
       });


    </script>
</head>

<body>

<!--LOGO-->
<div class="row" style="width:100%;">
    <div class="col-12" style="background-color: #ec0000; height: 100%">
        <div class="row">
            <div class="col-2" style="margin-left: 10px;">
                <img style="width: 250px; height: 75px;" src="http://localhost:8080/css/imagens/santander-logo-7.png"
                     alt="logo do Santander">
            </div>
        </div>
    </div>
</div>

<form class="container" name="form-control" action="http://localhost:8080/addCard" method="post">

    <div class="row">

        <div class="input-field col s6">
            <i class="material-icons prefix">credit_card</i>
            <input type="number" class="form-control" id="nCard" name="numero">
            <label for="nCard">Numero do Cartão</label>
        </div>

        <div class="input-field col s6">
            <i class="material-icons prefix">date_range</i>
            <input type="text" class="datepicker form-control" id="data" name="validade">
            <label for="data" class="">Data de Vencimento</label>
        </div>
    </div>



    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input type="password" id="password" class="form-control" name="password">
            <label for="password">Digite a senha</label>
        </div>

    </div>

    <div>
        <button class="btn waves-effect waves-light btn-color" type="submit" name="validar" id="validar">Gravar
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>

<!--RODAPÉ-->
<footer>
    <div class="footer-copyright py-3 text-center">
        © 2019 Copyright:
        <a href="https://www.accenture.com/br-pt">
            <strong> Accenture Brasil </strong>
        </a>
    </div>
</footer>

</body>
</html>